body {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img{
   width: 130px;
   background-color: #1598d4;
}
.color {
    display: flex;
    justify-content: center;
}
#c1 {
    width: 15px;
    height: 15px;
    background-color: #009943;
    margin: 5px;
}
#c2 {
    width: 15px;
    height: 15px;
    background-color: #e2bb10;
    margin: 5px;
}
#c3 {
    width: 15px;
    height: 15px;
    background-color: #0fe3ea;
    margin: 5px;
}
nav {
    background-color: var(--color2);
    text-align: center;
    padding: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: block;
    margin: 5px;
}
.toggle {
    background-color: var(--color2);
    color: white;
    font-size: 20px;
    padding: 10px;
}
.slide img {
    width: 100%;
}
.slide {
    position: relative;
}
.image:before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.banner:hover::before {
    -webkit-animation: shine 1s;
    animation: shine 1s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
.slide .bi-arrow-left-square-fill {
    position: absolute;
    top: 45%;
    left: 10px;
    font-size: 2rem;
    color: white;
}
.slide .bi-arrow-right-square-fill {
    position: absolute;
    right: 10px;
    top: 45%;
    font-size: 2rem;
    color: white;
}
.slide .list {
    position: absolute;
    bottom: 5%;
    font-size: 5rem;
    left: 45%;
    left: calc(50%-40px);
    color: white;
}
.list-tour div {
    overflow: hidden;
}
.list-tour article {
    box-shadow: 0 0 10px rgb(123, 122, 122);
    margin: 7px;
    border-radius: 10px;
}
.tour-color {
    padding: 10px;
    font-size: 20px;
    background-color: var(--color2);
}
.list-tour img {
    border-radius: 10px 10px 0 0;
    transition: 0.5s;
    width: 100%;
}
.list-tour img:hover {
    transform: scale(1.2);
}
.list-tour p {
    padding: 10px;
}

.list-tour button {
    margin: 10px;
    text-align: center;
}
.feedback {
    text-align: center;
    position: relative;
}
.feedback img {
    width: 250px;
    height: 250px;
    border: 1px solid green;
    border-radius: 50%;
}
.feedback article {
    padding: 20px;
}
.feedback p i{
    color: rgba(231,198,12,0.908);
}
.image1 .image2 .image3{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    left: 10%;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.image1:hover .middle {
    opacity: 1;
}
.image2:hover .middle {
    opacity: 1;
}
.image3:hover .middle {
    opacity: 1x;
}
.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}  
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
/* .grid-container img {
    width: 100%;
} */
.grid-container img{
    width: 100%;
}
.grid-container {
    padding: 10px;
}
iframe{
    width: 100%;
    height: 600px;
}
footer {
    background-color: #5b7ef3;
}
.footer1 {
    padding: 10px;
}
.footer1 h2 {
    color: white;
}
.footer1 p {
    color: white;
}
.footer2 {
    padding: 10px;
    margin-right: 190px;
}
.footer2 h2 {
    color: white;
}
.footer2 p {
    color: white;
}
.footer-logo {
    padding: 10px;
}
.footer-logo p {
    color: white;
}
.footer-bot {
    background: #233cc9;
    text-align: center;
    line-height: 45px;
    height: 45px;
}
.zalo {
    position: fixed;
    bottom: 130px;
    right: 30px;
    width: 110px;
}
.zalo:hover {
    transform: scale(1.1);
}
.messenger {
    position: fixed;
    bottom: 20px;
    right: 30px;
    width: 110px;
}
.messenger:hover {
    transform: scale(1.1);
}

/* Điện thoại */
@media screen and (min-width:240px) {
    /* nav{
        background-color: red;
    } */
}

/* Máy tính bảng dọc*/
@media screen and (min-width:768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .list-tour,nav {
        display: flex;
    }
    .toggle {
        display: none;
    }
    .feedback{
        display: flex;
    }
    .grid-container{
        display: grid;
        grid-template-areas: 
        'item1 item1 item2 item3'
        'item1 item1 item4 item5';
        gap: 10px;
    }
}

/* Laptop  và máy tính bảng ngang*/
@media screen and (min-width:1024px) {
    main,header {
        padding-left: 12%;
        margin-right: 12%;
    }
    footer section{
        margin-left: 12%;
        margin-right: 12%;
        display: flex;
    }
}

/* @keyframes move {
    0% {transform: translateY(0);}
    50% {transform: translateY(-50px);}
    100% {transform: translateY(0);}
  }
  
  img {
    animation: move 2s ease-in-out infinite;
  }

article:hover {
    background-color: #f5f5f5;
    cursor: pointer;
} */

article {
    position: relative;
    overflow: hidden;
}

article img {
    position: relative;
    transition: transform 0.2s ease-out;
}
.feedback img:hover {
    transform: scale(1.1);
}
.grid-container img:hover {
    transform: scale(1.1)
} 
:root {
    --color1:#FC6600;
    --color2:#1598d4;
}
nav a {
    text-align: center;
    margin-left: 5%;
}